
<div class="card dashboard-content-place">

    <div class="report-settings">
        <h1>Byggaute</h1>
        <div id="summary">
            <h3>Sammanfattning:</h3>
            <textarea id="summaryTextarea" class="form-control"></textarea>
            <input type="input" id="summaryButton" class="btn btn-default toTheRight" value="Spara" onclick="saveSummary()">
        </div>
        <div id="recommendation">
            <h3>Rekommendation:</h3>
            <textarea id="recommendationTextarea" class="form-control"></textarea>
            <input type="input" id="recommendationButton" class="btn btn-default toTheRight" value="Spara" onclick="saveRecommendation()">
        </div>
        <br>
        <br>
        <div id="charts" class="toTheLeft">

            {{#each results}}
                {{#if (isNotObject this)}}
                    {{ createChartTemplate @key }}
                {{/if}}
                {{#if (isObject this)}}
                    {{#each this}}
                        {{#if (isNotEmptyString this)}}
                        {{ createChartTemplate @key }}
                        {{/if}}
                    {{/each}}
                {{/if}}
            {{/each}}


            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
            <script src="/js/saveTextarea.js"></script>
            <script src="/js/lib/charts/createChart.js"></script>
            <script src="/js/lib/charts/createData.js"></script>
            <script>

                    {{#each results}}

                        {{#if (isNotObject this)}}
                        var labels1 = [];
                        var values1 = [];
                        labels1.push('{{@key}}');
                        values1.push('{{this}}');
                        createChart('bar', {{ @key }}, createData(labels1, values1));
                        {{/if}}


                        {{#if (isObject this)}}
                            {{#each this}}
                                {{#if (isNotEmptyString this)}}
                                var labels2 = [];
                                var values2 = [];
                                labels2.push('{{@key}}');
                                values2.push('{{this}}');
                                createChart('bar', {{ @key }}, createData(labels2, values2));
                                {{/if}}
                            {{/each}}
                        {{/if}}
                    {{/each}}

            </script>
        </div>
    </div>
</div>

