<div class="card dashboard-content-place">
    <div class="report-settings">
        <h1 class="toTheLeft">{{this.queries.customer}}</h1> <h1 class="toTheRight">{{this.queries.month}} {{this.queries.year}}</h1>
        <div id="adminText">
            {{#if this.user.admin}}
                <form method="post" action="/user/pdf">
                    <div id="summary">
                        <h3>Sammanfattning:</h3>
                        <textarea id="summaryTextarea" name="summary" class="form-control">{{this.viewObj.form.report.0.summary}}</textarea>
                    </div>
                    <div id="optimization">
                        <h3>Optimering:</h3>
                        <textarea id="optimizationTextarea" name="optimization" class="form-control">{{this.viewObj.form.report.0.optimization}}</textarea>
                    </div>
                    <div id="recommendation">
                        <h3>Rekommendation:</h3>
                        <textarea id="recommendationTextarea" name="recommendation" class="form-control">{{this.viewObj.form.report.0.recommendation}}</textarea>
                    </div>
                    <input type="hidden" name="month" value="{{this.queries.month}}">
                    <input type="hidden" name="year" value="{{this.queries.year}}">
                    <input id="createPdfButton" class="btn btn-default" type="submit" value="Spara och skapa PDF-fil">
                </form>
            {{else}}
                <div id="summary">
                    <h3>Sammanfattning:</h3>
                    <textarea id="summaryTextarea" name="summary" class="form-control" readonly>{{this.viewObj.form.report.0.summary}}</textarea>
                </div>
                <div id="optimization">
                    <h3>Optimering:</h3>
                    <textarea id="optimizationTextarea" name="optimization" class="form-control" readonly>{{this.viewObj.form.report.0.optimization}}</textarea>
                </div>
                <div id="recommendation">
                    <h3>Rekommendation:</h3>
                    <textarea id="recommendationTextarea" name="recommendation" class="form-control" readonly>{{this.viewObj.form.report.0.recommendation}}</textarea>
                </div>
            {{/if}}
        </div>

        <!-- Div:en för diagrammen: -->

        <div id="charts" class="toTheLeft">
            <div class="card">
                <div class="header">
                    <h4 class="title">Utveckling</h4>
                </div>
                <canvas id="canvasBarChart" width="400" height="400"></canvas>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Mest besök</h4>
                </div>
                <canvas id="canvasPieChart" width="400" height="400"></canvas>
            </div>

            <!-- Läggs till om det finns extra tid.
            <div class="card">
                <div class="header">
                    <h4 class="title">Ingångskällor</h4>
                </div>
                <canvas id="canvasDoughnutChart" width="400" height="400"></canvas>
            </div>
            -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
            <script src="/js/lib/charts/createChart.js"></script>
            <script src="/js/lib/charts/createData.js"></script>
            <script>

                var canvasBarChart = document.querySelector("#canvasBarChart");
                var canvasPieChart = document.querySelector("#canvasPieChart");

                /* Läggs till om det finns extra tid.
                var canvasDoughnutChart = document.querySelector("#canvasDoughnutChart");
                */


                // Månaderna i stapel-diagrammet:

                var months = ['{{this.queries.monthBeforePreviousMonth}}', '{{this.queries.previousMonth}}', '{{this.queries.month}}'];

                // Totalen av visningar/klickningar per media för de tre givna månaderna:

                var visitorsInTotalPerMonth = [0, 0 ,0];

                {{#if this.queries.youtube}}
                    visitorsInTotalPerMonth[0] += Number({{this.viewObj.form.data.2.youtube.youtube.views}});
                    visitorsInTotalPerMonth[1] += Number({{this.viewObj.form.data.1.youtube.youtube.views}});
                    visitorsInTotalPerMonth[2] += Number({{this.viewObj.form.data.0.youtube.youtube.views}});
                {{/if}}

                {{#if this.queries.analytics}}
                    visitorsInTotalPerMonth[0] += Number({{this.viewObj.form.data.2.analytics.baseFigures.views}});
                    visitorsInTotalPerMonth[1] += Number({{this.viewObj.form.data.1.analytics.baseFigures.views}});
                    visitorsInTotalPerMonth[2] += Number({{this.viewObj.form.data.0.analytics.baseFigures.views}});
                {{/if}}

                {{#if this.queries.adwords}}
                    visitorsInTotalPerMonth[0] += Number({{this.viewObj.form.data.2.adwords.adwordsViews.result}});
                    visitorsInTotalPerMonth[1] += Number({{this.viewObj.form.data.1.adwords.adwordsViews.result}});
                    visitorsInTotalPerMonth[2] += Number({{this.viewObj.form.data.0.adwords.adwordsViews.result}});
                {{/if}}

                {{#if this.queries.across}}
                    visitorsInTotalPerMonth[0] += Number({{this.viewObj.form.data.2.across.monthly.0.visitors}});
                    visitorsInTotalPerMonth[1] += Number({{this.viewObj.form.data.1.across.monthly.0.visitors}});
                    visitorsInTotalPerMonth[2] += Number({{this.viewObj.form.data.0.across.monthly.0.visitors}});
                {{/if}}

                {{#if this.queries.addthis}}
                    visitorsInTotalPerMonth[0] += Number({{this.viewObj.form.data.2.addthis.addthisClick.result}});
                    visitorsInTotalPerMonth[1] += Number({{this.viewObj.form.data.1.addthis.addthisClick.result}});
                    visitorsInTotalPerMonth[2] += Number({{this.viewObj.form.data.0.addthis.addthisClick.result}});
                {{/if}}

                {{#if this.queries.linkedin}}
                    visitorsInTotalPerMonth[0] += Number({{this.viewObj.form.data.2.linkedin.0.interactions.clicks}});
                    visitorsInTotalPerMonth[1] += Number({{this.viewObj.form.data.1.linkedin.0.interactions.clicks}});
                    visitorsInTotalPerMonth[2] += Number({{this.viewObj.form.data.0.linkedin.0.interactions.clicks}});
                {{/if}}

                // Skapa datan för stapel-diagrammet:

                var barData = createData(months, visitorsInTotalPerMonth);

                // Fördelningen mellan medier givet hur stor andel räknat på visningar/klickningar per media:

                var medias = [];
                var percentages = [];

                {{#if this.queries.youtube}}
                medias.push('YouTube');
                percentages.push(Number({{this.viewObj.form.data.0.youtube.youtube.views}}));
                {{/if}}

                {{#if this.queries.analytics}}
                    medias.push('Analytics');
                    percentages.push(Number({{this.viewObj.form.data.0.analytics.baseFigures.views}}));
                {{/if}}

                {{#if this.queries.adwords}}
                    medias.push('AdWords');
                    percentages.push(Number({{this.viewObj.form.data.0.adwords.adwordsViews.result}}));
                {{/if}}

                {{#if this.queries.across}}
                medias.push('Tynt/33across');
                percentages.push(Number({{this.viewObj.form.data.0.across.monthly.0.visitors}}));
                {{/if}}

                {{#if this.queries.addthis}}
                    medias.push('AddThis');
                    percentages.push(Number({{this.viewObj.form.data.0.addthis.addthisClick.result}}));
                {{/if}}
                {{#if this.queries.linkedin}}
                    medias.push('LinkedIn');
                    percentages.push(Number({{this.viewObj.form.data.0.linkedin.0.interactions.clicks}}));
                {{/if}}


                // Skapa datan för paj-diagrammet:

                var pieData = createData(medias, percentages);

                //Skapa stapel- och paj-diagrammet:

                var barChart = createChart('bar', canvasBarChart, barData);
                var pieChart = createChart('pie', canvasPieChart, pieData);

                /* Läggs till om det finns extra tid.
                var doughnutChart = createChart('doughnut', canvasDoughnutChart, data);
                */

            </script>
        </div>

        <!-- Div:en för statistiken för de olika medierna: -->

        <div id="stats" class="toTheRight">
            <div class="card">
                    <div class="header">
                      {{#if this.queries.adwords}}
                          {{#if this.viewObj.form.data.0.adwords}}
                              <h3 class="title">AdWords</h3>
                              {{#if this.queries.adwordsClick}}
                                  <h3>{{this.viewObj.form.data.0.adwords.adwordsClick.result}} klickningar.</h3>
                                  <br>
                              {{/if}}
                              {{#if this.queries.adwordsCpc}}
                                  <h3>{{this.viewObj.form.data.0.adwords.adwordsCpc.result}} kostnad per klick.</h3>
                                  <br>
                              {{/if}}
                              {{#if this.queries.adwordsViews}}
                                  <h3>{{this.viewObj.form.data.0.adwords.adwordsViews.result}} visningar.</h3>
                                  <br>
                              {{/if}}
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.facebook}}
                          {{#if this.viewObj.form.data.0.facebook}}
                              <h3 class="title">Facebook</h3>
                              {{#if this.queries.facebookLikes}}
                                  <h3>{{this.viewObj.form.data.0.facebook.facebookLikes.result}} gillningar.</h3>
                                  <br>
                              {{/if}}
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.youtube}}
                          {{#if this.viewObj.form.data.0.youtube}}
                              <h3 class="title">Youtube</h3>
                              {{#if this.queries.youtubeViews}}
                                  <h3>{{this.viewObj.form.data.0.youtube.youtube.views}} visningar.</h3>
                                  <br>
                              {{/if}}
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.across}}
                          {{#if this.viewObj.form.data.0.across}}
                              <h3 class="title">Tynt/33across</h3>
                              {{#if this.queries.acrossShares}}
                                  <h3>{{this.viewObj.form.data.0.across.monthly.0.shares}} delningar.</h3>
                                  <br>
                              {{/if}}
                              {{#if this.queries.acrossVisitors}}
                                  <h3>{{this.viewObj.form.data.0.across.monthly.0.visitors}} besökare.</h3>
                                  <br>
                              {{/if}}
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.addthis}}
                          {{#if this.viewObj.form.data.0.addthis}}
                              <h3 class="title">AddThis</h3>
                              {{#if this.queries.addthisClick}}
                                  <h3>{{this.viewObj.form.data.0.addthis.addthisClick.result}} klickningar.</h3>
                                  <br>
                              {{/if}}
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.twitter}}
                          {{#if this.viewObj.form.data.0.twitter}}
                              <h3 class="title">Twitter</h3>
                              {{#if this.queries.twitterFollowers}}
                                  <h3>{{this.viewObj.form.data.0.twitter.followers}} följare.</h3>
                                  <br>
                              {{/if}}
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.linkedin}}
                          {{#if this.viewObj.form.data.0.linkedin}}
                              <h3 class="title">LinkedIn</h3>
                              {{#if this.queries.linkedinFollowers}}
                                  <h3>{{this.viewObj.form.data.0.linkedin.0.followers.newCount}} nya följare.</h3>
                                  <br>
                                  <h3>{{this.viewObj.form.data.0.linkedin.0.followers.totalCount}} följare.</h3>
                                  <br>
                              {{/if}}
                              {{#if this.queries.linkedinInteractions}}
                                  <h3>{{this.viewObj.form.data.0.linkedin.0.interactions.clicks}} klick.</h3>
                                  <br>
                                  <h3>{{this.viewObj.form.data.0.linkedin.0.interactions.comments}} kommentarer.</h3>
                                  <br>
                                  <h3>{{this.viewObj.form.data.0.linkedin.0.interactions.engagement}} interaktioner.</h3>
                                  <br>
                                  <h3>{{this.viewObj.form.data.0.linkedin.0.interactions.impressions}} intryck.</h3>
                                  <br>
                                  <h3>{{this.viewObj.form.data.0.linkedin.0.interactions.likes}} likes.</h3>
                                  <br>
                                  <h3>{{this.viewObj.form.data.0.linkedin.0.interactions.shares}} delningar.</h3>
                                  <br>
                              {{/if}}
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.moz}}
                          {{#if this.viewObj.form.data.0.moz}}
                              <h3 class="title">Moz</h3>
                              {{#if this.queries.mozKeywords}}
                                  <h3>{{this.viewObj.form.data.0.moz.mozKeywords.result}} nyckelord.</h3>
                                  <br>
                              {{/if}}
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.instagram}}
                          {{#if this.viewObj.form.data.0.instagram}}
                              <h3 class="title">Instagram</h3>
                              {{#if this.queries.instagramLikes}}
                                  <h3>{{this.viewObj.form.data.0.instagram.likes}} likes.</h3>
                                  <br>
                              {{/if}}
                              {{#if this.queries.instagramComments}}
                                  <h3>{{this.viewObj.form.data.0.instagram.comments}} kommentarer.</h3>
                                  <br>
                              {{/if}}
                              {{#if this.queries.instagramTags}}
                                  <h3>{{this.viewObj.form.data.0.instagram.tags}} taggningar.</h3>
                                  <br>
                              {{/if}}
                              {{#if this.queries.instagramTaggedUsers}}
                                  <h3>{{this.viewObj.form.data.0.instagram.taggedUsers}} taggade användare.</h3>
                                  <br>
                              {{/if}}
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.analytics}}
                          {{#if this.viewObj.form.data.0.analytics}}
                              <h3 class="title">Analytics</h3>
                              {{#if this.queries.analyticsViews}}
                                  <h3>{{this.viewObj.form.data.0.analytics.baseFigures.views}} visningar.</h3>
                                  <br>
                              {{/if}}
                              {{#if this.queries.analyticsUniqueViews}}
                                  <h3>{{this.viewObj.form.data.0.analytics.baseFigures.uniqueViews}} unika visningar.</h3>
                                  <br>
                              {{/if}}
                              {{#if this.queries.analyticsStrongestRedirects}}
                                  {{#each this.viewObj.form.data.0.analytics.topLanding.analyticsStrongestRedirects}}
                                      <h3>"{{this.[0]}}" är en av de starkaste ingångskanalerna.</h3>
                                      <br>
                                  {{/each}}
                              {{/if}}
                              {{#if this.queries.analyticsMostVisitedPages}}
                                  {{#each this.viewObj.form.data.0.analytics.mostVisited.analyticsMostVisitedPages}}
                                      <h3>"{{this.[0]}}" är en av de mest besökta sidorna.</h3>
                                      <br>
                                  {{/each}}
                              {{/if}}
                              {{#if this.queries.analyticsAverageTime}}
                                  <h3><span>{{this.viewObj.form.data.0.analytics.baseFigures.averageTime}}</span> genomsnittlig tid på sidan.</h3>
                                  <br>
                              {{/if}}
                              {{#if this.queries.analyticsAverageVisitedPerPages}}
                                  <h3><span>{{this.viewObj.form.data.0.analytics.baseFigures.averageVisitedPerPages}}</span> genomsnittligt antal besökta sidor.</h3>
                                  <br>
                              {{/if}}
                          {{/if}}
                      {{/if}}
                    </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var spans = document.getElementById('stats').getElementsByTagName('span');
    for (let i = 0; i < spans.length; i += 1) {
      spans[i].textContent = Math.round(Number(spans[i].textContent) * 100) / 100;
    }
</script>
