<div class="preview-content-place">
    <div class="report-settings">
        <div id="previewHeader">
          <div class="toTheLeft">{{this.queries.customer}}</div> <div class="toTheRight">{{this.queries.month}} {{this.queries.year}}</div>
        </div>
        <div id="adminText">
            {{#if this.user.admin}}
                <form method="post" action="/user/pdf">
                    <div id="summary">
                        <h3>Sammanfattning:</h3>
                        <textarea id="summaryTextarea" name="summary" class="form-control">{{this.viewObj.form.report.0.summary}}</textarea>
                    </div>
                    <div id="optimization">
                        <h3>Optimering:</h3>
                        <textarea id="optimizationTextarea" name="optimization" class="form-control">{{this.viewObj.form.report.0.optimization}}</textarea>
                    </div>
                    <div id="recommendation">
                        <h3>Rekommendation:</h3>
                        <textarea id="recommendationTextarea" name="recommendation" class="form-control">{{this.viewObj.form.report.0.recommendation}}</textarea>
                    </div>
                    <input type="hidden" name="month" value="{{this.queries.month}}">
                    <input type="hidden" name="year" value="{{this.queries.year}}">
                    <input id="createPdfButton" class="btn btn-default" type="submit" value="Spara och skapa PDF-fil">
                </form>
            {{else}}
                <div id="summary">
                    <h3>Sammanfattning:</h3>
                    <textarea id="summaryTextarea" name="summary" class="form-control" readonly>{{this.viewObj.form.report.0.summary}}</textarea>
                </div>
                <div id="optimization">
                    <h3>Optimering:</h3>
                    <textarea id="optimizationTextarea" name="optimization" class="form-control" readonly>{{this.viewObj.form.report.0.optimization}}</textarea>
                </div>
                <div id="recommendation">
                    <h3>Rekommendation:</h3>
                    <textarea id="recommendationTextarea" name="recommendation" class="form-control" readonly>{{this.viewObj.form.report.0.recommendation}}</textarea>
                </div>
            {{/if}}
        </div>

        <!-- Div:en för diagrammen: -->

        <div id="charts" class="toTheLeft">
            <div class="cardCharts">
                <div class="header">
                    <h4 class="title">Utveckling</h4>
                </div>
                <canvas id="canvasBarChart" width="400" height="400"></canvas>
            </div>
            <div class="cardCharts">
                <div class="header">
                    <h4 class="title">Mest besök</h4>
                </div>
                <canvas id="canvasPieChart" width="400" height="400"></canvas>
            </div>

            <div class="cardCharts">
                <div class="header">
                    <h4 class="title">Ingångskällor</h4>
                </div>
                <canvas id="canvasDoughnutChart" width="400" height="400"></canvas>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
            <script src="/js/lib/charts/createChart.js"></script>
            <script src="/js/lib/charts/createData.js"></script>
            <script>

                var canvasBarChart = document.querySelector("#canvasBarChart");
                var canvasPieChart = document.querySelector("#canvasPieChart");
                var canvasDoughnutChart = document.querySelector("#canvasDoughnutChart");


                // Månaderna i stapel-diagrammet:

                var months = ['{{this.queries.monthBeforePreviousMonth}}', '{{this.queries.previousMonth}}', '{{this.queries.month}}'];

                // Summan gällande "Mest besök" och "Ingångskällor" för de tre givna månaderna för Utvecklingsdiagrammet:

                var visitorsInTotalPerMonth = [0, 0 ,0];

                // Lägger till unika besökare för de tre månaderna till Utvecklingsdiagrammet:

                {{#if this.queries.analyticsMostVisitedPages}}
                    {{#if this.viewObj.form.data.2.analytics.baseFigures.uniqueViews}}
                            visitorsInTotalPerMonth[0] += Number({{this.viewObj.form.data.2.analytics.baseFigures.uniqueViews}});
                    {{/if}}
                    {{#if this.viewObj.form.data.1.analytics.baseFigures.uniqueViews}}
                        visitorsInTotalPerMonth[1] += Number({{this.viewObj.form.data.1.analytics.baseFigures.uniqueViews}});
                    {{/if}}
                    {{#if this.viewObj.form.data.0.analytics.baseFigures.uniqueViews}}
                        visitorsInTotalPerMonth[2] += Number({{this.viewObj.form.data.0.analytics.baseFigures.uniqueViews}});
                    {{/if}}
                {{/if}}

                // Skapa datan för "Utveckling"(stapel)-diagrammet:

                var barData = createData(months, visitorsInTotalPerMonth);

                // Datan för de fyra mest besökta sidorna:

                var pages = [];
                var percentagesPerPage = [];

                {{#if this.queries.analyticsMostVisitedPages}}
                        {{#each this.viewObj.form.data.0.analytics.mostVisited.analyticsMostVisitedPages}}
                            pages.push('{{this.[0]}}');
                            percentagesPerPage.push(Number({{this.[2]}}));
                        {{/each}}
                {{/if}}


                // Skapa datan för "Mest besök"(paj)-diagrammet:

                var pieData = createData(pages, percentagesPerPage);

                // Datan för de fyra starkaste ingångskanalerna:

                var channels = [];
                var percentagesPerChannel = [];

                {{#if this.queries.analyticsStrongestRedirects}}
                        {{#each this.viewObj.form.data.0.analytics.topLanding.analyticsStrongestRedirects}}
                                    channels.push('{{this.[0]}}');
                                    percentagesPerChannel.push(Number({{this.[1]}}));
                        {{/each}}
                {{/if}}

                // Skapa datan för "Ingångskällor"(munk)-diagrammet:

                var doughnutData = createData(channels, percentagesPerChannel);

                //Skapa "Utveckling"(stapel)-, "Mest besök"(paj)- och "Ingångskällor"(munk)-diagrammet:

                var barChart = createChart('bar', canvasBarChart, barData);
                var pieChart = createChart('pie', canvasPieChart, pieData);
                var doughnutChart = createChart('doughnut', canvasDoughnutChart, doughnutData);

            </script>
        </div>

        <!-- Div:en för statistiken för de olika medierna: -->

        <div id="stats" class="toTheLeft">
            <div class="cardStats">
                    <div class="header">
                      {{#if this.queries.adwords}}
                          {{#if this.viewObj.form.data.0.adwords}}
                              <div class=apiStat>
                                <h3 class="title">AdWords</h3>
                                {{#if this.queries.adwordsClick}}
                                    <h3>{{this.viewObj.form.data.0.adwords.adwordsClick.result}} klickningar.</h3>

                                {{/if}}
                                {{#if this.queries.adwordsCpc}}
                                    <h3>{{this.viewObj.form.data.0.adwords.adwordsCpc.result}} kostnad per klick.</h3>

                                {{/if}}
                                {{#if this.queries.adwordsViews}}
                                    <h3>{{this.viewObj.form.data.0.adwords.adwordsViews.result}} visningar.</h3>

                                {{/if}}
                              </div>
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.facebook}}
                          {{#if this.viewObj.form.data.0.facebook}}
                          <div class=apiStat>
                            <h3 class="title">Facebook</h3>
                            {{#if this.queries.facebookLikes}}
                                <h3>{{this.viewObj.form.data.0.facebook.facebookLikes.result}} gillningar.</h3>

                            {{/if}}
                          </div>
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.youtube}}
                          {{#if this.viewObj.form.data.0.youtube}}
                          <div class=apiStat>
                            <h3 class="title">Youtube</h3>
                            {{#if this.queries.youtubeViews}}
                                <h3>{{this.viewObj.form.data.0.youtube.youtube.views}} visningar.</h3>

                            {{/if}}
                          </div>
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.across}}
                          {{#if this.viewObj.form.data.0.across}}
                          <div class=apiStat>
                            <h3 class="title">Tynt/33across</h3>
                            {{#if this.queries.acrossShares}}
                                <h3>{{this.viewObj.form.data.0.across.monthly.0.shares}} delningar.</h3>

                            {{/if}}
                            {{#if this.queries.acrossVisitors}}
                                <h3>{{this.viewObj.form.data.0.across.monthly.0.visitors}} besökare.</h3>

                            {{/if}}
                          </div>
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.addthis}}
                          {{#if this.viewObj.form.data.0.addthis}}
                          <div class=apiStat>
                            <h3 class="title">AddThis</h3>
                            {{#if this.queries.addthisClick}}
                                <h3>{{this.viewObj.form.data.0.addthis.addthisClick.result}} klickningar.</h3>

                            {{/if}}
                          </div>
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.twitter}}
                          {{#if this.viewObj.form.data.0.twitter}}
                          <div class=apiStat>
                            <h3 class="title">Twitter</h3>
                            {{#if this.queries.twitterFollowers}}
                                <h3>{{this.viewObj.form.data.0.twitter.followers}} följare.</h3>

                            {{/if}}
                          </div>
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.linkedin}}
                          {{#if this.viewObj.form.data.0.linkedin}}
                          <div class=apiStat>
                            <h3 class="title">LinkedIn</h3>
                            {{#if this.queries.linkedinFollowers}}
                                <h3>{{this.viewObj.form.data.0.linkedin.0.followers.newCount}} nya följare.</h3>

                                <h3>{{this.viewObj.form.data.0.linkedin.0.followers.totalCount}} följare.</h3>

                            {{/if}}
                            {{#if this.queries.linkedinInteractions}}
                                <h3>{{this.viewObj.form.data.0.linkedin.0.interactions.clicks}} klick.</h3>

                                <h3>{{this.viewObj.form.data.0.linkedin.0.interactions.comments}} kommentarer.</h3>

                                <h3>{{this.viewObj.form.data.0.linkedin.0.interactions.engagement}} interaktioner.</h3>

                                <h3>{{this.viewObj.form.data.0.linkedin.0.interactions.impressions}} intryck.</h3>

                                <h3>{{this.viewObj.form.data.0.linkedin.0.interactions.likes}} likes.</h3>

                                <h3>{{this.viewObj.form.data.0.linkedin.0.interactions.shares}} delningar.</h3>

                            {{/if}}
                          </div>
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.moz}}
                          {{#if this.viewObj.form.data.0.moz}}
                          <div class=apiStat>
                            <h3 class="title">Moz</h3>
                            {{#if this.queries.mozKeywords}}
                                <h3>{{this.viewObj.form.data.0.moz.mozKeywords.result}} nyckelord.</h3>

                            {{/if}}
                          </div>
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.instagram}}
                          {{#if this.viewObj.form.data.0.instagram}}
                          <div class=apiStat>
                            <h3 class="title">Instagram</h3>
                            {{#if this.queries.instagramLikes}}
                                <h3>{{this.viewObj.form.data.0.instagram.likes}} likes.</h3>

                            {{/if}}
                            {{#if this.queries.instagramComments}}
                                <h3>{{this.viewObj.form.data.0.instagram.comments}} kommentarer.</h3>

                            {{/if}}
                            {{#if this.queries.instagramTags}}
                                <h3>{{this.viewObj.form.data.0.instagram.tags}} taggningar.</h3>

                            {{/if}}
                            {{#if this.queries.instagramTaggedUsers}}
                                <h3>{{this.viewObj.form.data.0.instagram.taggedUsers}} taggade användare.</h3>

                            {{/if}}
                          </div>
                          {{/if}}
                      {{/if}}
                      {{#if this.queries.analytics}}
                          {{#if this.viewObj.form.data.0.analytics}}
                          <div class=apiStat>
                            <h3 class="title">Analytics</h3>
                            {{#if this.queries.analyticsViews}}
                                <h3>{{this.viewObj.form.data.0.analytics.baseFigures.views}} visningar.</h3>

                            {{/if}}
                            {{#if this.queries.analyticsUniqueViews}}
                                <h3>{{this.viewObj.form.data.0.analytics.baseFigures.uniqueViews}} unika visningar.</h3>

                            {{/if}}
                            {{#if this.queries.analyticsAverageTime}}
                                <h3><span>{{this.viewObj.form.data.0.analytics.baseFigures.averageTime}}</span> genomsnittlig tid på sidan.</h3>

                            {{/if}}
                            {{#if this.queries.analyticsAverageVisitedPerPages}}
                                <h3><span>{{this.viewObj.form.data.0.analytics.baseFigures.averageVisitedPerPages}}</span> genomsnittligt antal besökta sidor.</h3>
                            {{/if}}
                          </div>
                          {{/if}}
                      {{/if}}
                    </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var spans = document.getElementById('stats').getElementsByTagName('span');
    for (var i = 0; i < spans.length; i += 1) {
      spans[i].textContent = Math.round(Number(spans[i].textContent) * 100) / 100;
    }
</script>
