<div class="card dashboard-content-place">
    <div class="report-settings">
        <h1 class="toTheLeft">{{customer}}</h1> <h1 class="toTheRight">{{month}} {{year}}</h1>
        <div id="adminText">
            {{#if user.admin}}
                <div id="summary">
                    <h3>Sammanfattning:</h3>
                    <textarea id="summaryTextarea" class="form-control"></textarea>
                    <input type="input" id="summaryButton" class="btn btn-default toTheRight" value="Spara" onclick="saveSummary()">
                </div>
                <div id="recommendation">
                    <h3>Rekommendation:</h3>
                    <textarea id="recommendationTextarea" class="form-control"></textarea>
                    <input type="input" id="recommendationButton" class="btn btn-default toTheRight" value="Spara" onclick="saveRecommendation()">
                </div>
                <form method="get" action="/user/pdf">
                    <input class="btn btn-default" type="submit" value="Create PDF">
                </form>
            {{/if}}
        </div>
        <br>
        <br>
        <div id="charts" class="toTheLeft">
            <div class="card">
                <div class="header">
                    <h4 class="title">Utveckling</h4>
                </div>
                <canvas id="canvasBarChart" width="400" height="400"></canvas>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Mest besök</h4>
                </div>
                <canvas id="canvasPieChart" width="400" height="400"></canvas>
            </div>

            <!-- Added in case of extra time.
            <div class="card">
                <div class="header">
                    <h4 class="title">Ingångskällor</h4>
                </div>
                <canvas id="canvasDoughnutChart" width="400" height="400"></canvas>
            </div>
            -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
            <script src="/js/saveTextarea.js"></script>
            <script src="/js/lib/charts/createChart.js"></script>
            <script src="/js/lib/charts/createData.js"></script>
            <script>

                var canvasBarChart = document.querySelector("#canvasBarChart");
                var canvasPieChart = document.querySelector("#canvasPieChart");

                /* Added in case of extra time.
                var canvasDoughnutChart = document.querySelector("#canvasDoughnutChart");
                */

                var months = ['{{month}}'];
                var visitorsInTotalPerMonth = [0];
                {{#if queries.youtube}}
                    visitorsInTotalPerMonth[0] += Number({{form.data.youtube.views.result}});
                {{/if}}



                    {{#if queries.analytics}}
                    visitorsInTotalPerMonth[0] += Number({{form.data.analytics.analyticsViews.result}});
                    {{/if}}

                var barData = createData(months, visitorsInTotalPerMonth);

                var medias = [];
                var percentages = [];

                    {{#if queries.youtube}}
                        medias.push('Youtube');
                        percentages.push(Number({{form.data.youtube.views.result}}));
                    {{/if}}

                    {{#if queries.analytics}}
                    medias.push('Analytics');
                    percentages.push(Number({{form.data.analytics.analyticsViews.result}}));
                    {{/if}}


                var data = createData(medias, percentages);

                var barChart = createChart('bar', canvasBarChart, barData);
                var pieChart = createChart('pie', canvasPieChart, data);

                /* Added in case of extra time.
                var doughnutChart = createChart('doughnut', canvasDoughnutChart, data);
                */

            </script>
        </div>
        <div id="stats" class="toTheRight">
            <div class="card">
                {{#each form.data}}
                    {{#if this.active}}
                        <div class="header">
                            <h3 class="title">{{@key}}</h3>
                            {{#each this.features}}
                                {{#if this.active}}
                                    <h3>{{this.result}} {{this.description}}</h3>
                                    <br>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div id="charts" class="toTheLeft">
    <div class="card">
        {{#each form.data.youtube.views}}
            YOUTUBE: {{@key}}{{this}}
        {{/each}}
        {{#each form.data.analytics}}
            ANALYTICS: {{@key}}{{this}}
        {{/each}}
    </div>
</div>