<div class="preview-content-place">
    <div class="report-settings">
        <div id="previewHeader">
          <div class="toTheLeft">{{this.queries.customer}}</div> <div class="toTheRight">{{this.queries.month}} {{this.queries.year}}</div>
        </div>
        <div id="adminText">
            {{#if this.user.admin}}
                <form method="post" action="/user/pdf">
                    <div id="summary">
                        <h3><b>Sammanfattning:</b></h3>
                        <textarea id="summaryTextarea" name="summary" class="form-control">{{this.viewObj.form.report.0.summary}}</textarea>
                    </div>
                    <div id="optimization">
                        <h3><b>Optimering:</b></h3>
                        <textarea id="optimizationTextarea" name="optimization" class="form-control">{{this.viewObj.form.report.0.optimization}}</textarea>
                    </div>
                    <div id="recommendation">
                        <h3><b>Rekommendation:</b></h3>
                        <textarea id="recommendationTextarea" name="recommendation" class="form-control">{{this.viewObj.form.report.0.recommendation}}</textarea>
                    </div>
                    <input type="hidden" name="month" value="{{this.queries.month}}">
                    <input type="hidden" name="year" value="{{this.queries.year}}">
                    <input id="createPdfButton" class="btn btn-default" type="submit" value="Spara och skapa PDF-fil">
                </form>
            {{else}}
                <div id="summary">
                    <h3>Sammanfattning:</h3>
                    <textarea id="summaryTextarea" name="summary" class="form-control" readonly>{{this.viewObj.form.report.0.summary}}</textarea>
                </div>
                <div id="optimization">
                    <h3>Optimering:</h3>
                    <textarea id="optimizationTextarea" name="optimization" class="form-control" readonly>{{this.viewObj.form.report.0.optimization}}</textarea>
                </div>
                <div id="recommendation">
                    <h3>Rekommendation:</h3>
                    <textarea id="recommendationTextarea" name="recommendation" class="form-control" readonly>{{this.viewObj.form.report.0.recommendation}}</textarea>
                </div>
            {{/if}}
        </div>

        <!-- Div:en för diagrammen: -->

        <div id="charts" class="toTheLeft">
            <div class="cardCharts">
                <div class="header">
                    <h4 class="title">Utveckling</h4>
                </div>
                <canvas id="canvasBarChart" width="400" height="400"></canvas>
            </div>
            <div class="cardCharts">
                <div class="header">
                    <h4 class="title">Mest besök</h4>
                </div>
                <canvas id="canvasPieChart" width="400" height="400"></canvas>
            </div>

            <div class="cardCharts">
                <div class="header">
                    <h4 class="title">Ingångskällor</h4>
                </div>
                <canvas id="canvasDoughnutChart" width="400" height="400"></canvas>
            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
            <script src="/js/lib/charts/createChart.js"></script>
            <script src="/js/lib/charts/createData.js"></script>
            <script>

                var canvasBarChart = document.querySelector("#canvasBarChart");
                var canvasPieChart = document.querySelector("#canvasPieChart");
                var canvasDoughnutChart = document.querySelector("#canvasDoughnutChart");


                // Månaderna i stapel-diagrammet:

                var months = ['{{this.queries.monthBeforePreviousMonth}}', '{{this.queries.previousMonth}}', '{{this.queries.month}}'];

                // Summan gällande "Mest besök" och "Ingångskällor" för de tre givna månaderna för Utvecklingsdiagrammet:

                var visitorsInTotalPerMonth = [0, 0 ,0];

                // Lägger till unika besökare för de tre månaderna till Utvecklingsdiagrammet:

                {{#if this.queries.analyticsMostVisitedPages}}
                    {{#if this.viewObj.form.data.2.analytics.baseFigures.uniqueViews}}
                            visitorsInTotalPerMonth[0] += Number({{this.viewObj.form.data.2.analytics.baseFigures.uniqueViews}});
                    {{/if}}
                    {{#if this.viewObj.form.data.1.analytics.baseFigures.uniqueViews}}
                        visitorsInTotalPerMonth[1] += Number({{this.viewObj.form.data.1.analytics.baseFigures.uniqueViews}});
                    {{/if}}
                    {{#if this.viewObj.form.data.0.analytics.baseFigures.uniqueViews}}
                        visitorsInTotalPerMonth[2] += Number({{this.viewObj.form.data.0.analytics.baseFigures.uniqueViews}});
                    {{/if}}
                {{/if}}

                // Skapa datan för "Utveckling"(stapel)-diagrammet:

                var barData = createData(months, visitorsInTotalPerMonth);

                // Datan för de fyra mest besökta sidorna:

                var pages = [];
                var percentagesPerPage = [];

                {{#if this.queries.analyticsMostVisitedPages}}
                        {{#each this.viewObj.form.data.0.analytics.mostVisited.analyticsMostVisitedPages}}
                            pages.push('{{this.[0]}}');
                            percentagesPerPage.push(Number({{this.[2]}}));
                        {{/each}}
                {{/if}}


                // Skapa datan för "Mest besök"(paj)-diagrammet:

                var pieData = createData(pages, percentagesPerPage);

                // Datan för de fyra starkaste ingångskanalerna:

                var channels = [];
                var percentagesPerChannel = [];

                {{#if this.queries.analyticsStrongestRedirects}}
                        {{#each this.viewObj.form.data.0.analytics.topLanding.analyticsStrongestRedirects}}
                                    channels.push('{{this.[0]}}');
                                    percentagesPerChannel.push(Number({{this.[1]}}));
                        {{/each}}
                {{/if}}

                // Skapa datan för "Ingångskällor"(munk)-diagrammet:

                var doughnutData = createData(channels, percentagesPerChannel);

                //Skapa "Utveckling"(stapel)-, "Mest besök"(paj)- och "Ingångskällor"(munk)-diagrammet:

                var barChart = createChart('bar', canvasBarChart, barData);
                var pieChart = createChart('pie', canvasPieChart, pieData);
                var doughnutChart = createChart('doughnut', canvasDoughnutChart, doughnutData);

            </script>
        </div>

        <!-- Div:en för statistiken för de olika medierna: -->

        <div id="stats" class="toTheLeft">
            <div class="cardStats">
                    <div class="header">
                      {{#if this.queries.adwords}}
                              <div class=apiStat>
                                <h3 class="title">AdWords</h3>
                                {{#if this.queries.adwordsClick}}
                                    <h3><b>{{this.viewObj.form.data.0.adwords.adwordsClick.result}}</b><br /> Klickningar</h3>
                                    <h3>
                                        {{#if this.viewObj.form.data.0.adwords.adwordsClick.result}}
                                        <b><span>{{this.viewObj.form.data.0.adwords.adwordsClick.result}}</span></b>
                                        {{else}}
                                        <h3><b>-</b>
                                        {{/if}}
                                        <br />Klickningar
                                    </h3>
                                {{/if}}
                                {{#if this.queries.adwordsCpc}}
                                    <h3>
                                        {{#if this.viewObj.form.data.0.adwords.adwordsCpc.result}}
                                        <b><span>{{this.viewObj.form.data.0.adwords.adwordsCpc.result}}</span></b>
                                        {{else}}
                                        <h3><b>-</b>
                                        {{/if}}
                                        <br />Kostnad per klick
                                    </h3>
                                {{/if}}
                                {{#if this.queries.adwordsViews}}
                                    <h3>
                                        {{#if this.viewObj.form.data.0.adwords.adwordsViews.result}}
                                        <b><span>{{this.viewObj.form.data.0.adwords.adwordsViews.result}}</span></b>
                                        {{else}}
                                        <h3><b>-</b>
                                        {{/if}}
                                        <br />Visningar
                                    </h3>
                                {{/if}}
                              </div>
                      {{/if}}
                      {{#if this.queries.facebook}}
                          <div class=apiStat>
                            <h3 class="title">Facebook</h3>
                            {{#if this.queries.facebookLikes}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.facebook.facebookLikes.result}}
                                    <b><span>{{this.viewObj.form.data.0.facebook.facebookLikes.result}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Gillningar
                                </h3>
                            {{/if}}
                          </div>
                      {{/if}}
                      {{#if this.queries.youtube}}
                          <div class=apiStat>
                            <h3 class="title">Youtube</h3>
                            {{#if this.queries.youtubeViews}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.youtube.youtube.views}}
                                    <b><span>{{this.viewObj.form.data.0.youtube.youtube.views}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Visningar
                                </h3>
                            {{/if}}
                          </div>
                      {{/if}}
                      {{#if this.queries.across}}
                          <div class=apiStat>
                            <h3 class="title">Tynt/33across</h3>
                            {{#if this.queries.acrossShares}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.across.monthly.0.shares}}
                                    <b><span>{{this.viewObj.form.data.0.across.monthly.0.shares}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Delningar
                                </h3>
                            {{/if}}
                            {{#if this.queries.acrossVisitors}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.across.monthly.0.visitors}}
                                    <b><span>{{this.viewObj.form.data.0.across.monthly.0.visitors}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Besökare
                                </h3>
                            {{/if}}
                          </div>
                      {{/if}}
                      {{#if this.queries.addthis}}
                          <div class=apiStat>
                            <h3 class="title">AddThis</h3>
                            {{#if this.queries.addthisClick}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.addthis.addthisClick.result}}
                                    <b><span>{{this.viewObj.form.data.0.addthis.addthisClick.result}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Klickningar
                                </h3>
                            {{/if}}
                          </div>
                      {{/if}}
                      {{#if this.queries.twitter}}
                          <div class=apiStat>
                            <h3 class="title">Twitter</h3>
                            {{#if this.queries.twitterFollowers}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.twitter.followers}}
                                    <b><span>{{this.viewObj.form.data.0.twitter.followers}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Följare
                                </h3>
                            {{/if}}
                          </div>
                      {{/if}}
                      {{#if this.queries.linkedin}}
                          <div class=apiStat>
                            <h3 class="title">LinkedIn</h3>
                            {{#if this.queries.linkedinFollowers}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.linkedin.followers.newCount}}
                                    <b><span>{{this.viewObj.form.data.0.linkedin.followers.newCount}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Nya följare
                                </h3>
                                <h3>
                                    {{#if this.viewObj.form.data.0.linkedin.followers.totalCount}}
                                    <b><span>{{this.viewObj.form.data.0.linkedin.followers.totalCount}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Följare
                                </h3>
                            {{/if}}
                            {{#if this.queries.linkedinInteractions}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.linkedin.interactions.clicks}}
                                    <b><span>{{this.viewObj.form.data.0.linkedin.interactions.clicks}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Klick
                                </h3>
                                <!--<h3>{{this.viewObj.form.data.0.linkedin.interactions.comments}} kommentarer.</h3>-->

                                <!--<h3><span>{{this.viewObj.form.data.0.linkedin.interactions.engagement}}</span> interaktioner.</h3>-->
                                <h3>
                                    {{#if this.viewObj.form.data.0.linkedin.interactions.impressions}}
                                    <b><span>{{this.viewObj.form.data.0.linkedin.interactions.impressions}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Intryck
                                </h3>
                                <h3>
                                    {{#if this.viewObj.form.data.0.linkedin.interactions.likes}}
                                    <b><span>{{this.viewObj.form.data.0.linkedin.interactions.likes}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Gillningar
                                </h3>

                                <!--<h3>{{this.viewObj.form.data.0.linkedin.interactions.shares}} delningar.</h3>-->

                            {{/if}}
                          </div>
                      {{/if}}
                      {{#if this.queries.moz}}
                          <div class=apiStat>
                            <h3 class="title">Moz</h3>
                            {{#if this.queries.mozKeywords}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.moz.mozKeywords.result}}
                                    <b><span>{{this.viewObj.form.data.0.moz.mozKeywords.result}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Nyckelord
                                </h3>
                            {{/if}}
                          </div>
                      {{/if}}
                      {{#if this.queries.instagram}}
                          <div class=apiStat>
                            <h3 class="title">Instagram</h3>
                            {{#if this.queries.instagramLikes}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.instagram.likes}}
                                    <b><span>{{this.viewObj.form.data.0.instagram.likes}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Gillningar
                                </h3>
                            {{/if}}
                            {{#if this.queries.instagramComments}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.instagram.comments}}
                                    <b><span>{{this.viewObj.form.data.0.instagram.comments}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Kommentarer
                                </h3>
                            {{/if}}
                            {{#if this.queries.instagramTags}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.instagram.tags}}
                                    <b><span>{{this.viewObj.form.data.0.instagram.tags}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Taggningar
                                </h3>
                            {{/if}}
                            {{#if this.queries.instagramTaggedUsers}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.instagram.taggedUsers}}
                                    <b><span>{{this.viewObj.form.data.0.instagram.taggedUsers}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Taggade användare
                                </h3>
                            {{/if}}
                          </div>
                      {{/if}}
                      {{#if this.queries.analytics}}
                          <div class=apiStat>
                            <h3 class="title">Analytics</h3>
                            {{#if this.queries.analyticsViews}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.analytics.baseFigures.views}}
                                    <b><span>{{this.viewObj.form.data.0.analytics.baseFigures.views}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Visningar
                                </h3>
                            {{/if}}
                            {{#if this.queries.analyticsUniqueViews}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.analytics.baseFigures.uniqueViews}}
                                    <b><span>{{this.viewObj.form.data.0.analytics.baseFigures.uniqueViews}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Unika visningar
                                </h3>
                            {{/if}}
                            {{#if this.queries.analyticsAverageTime}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.analytics.baseFigures.averageTime}}
                                    <b><span>{{this.viewObj.form.data.0.analytics.baseFigures.averageTime}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Genomsnittlig tid på sidan
                                </h3>
                            {{/if}}
                            {{#if this.queries.analyticsAverageVisitedPerPages}}
                                <h3>
                                    {{#if this.viewObj.form.data.0.analytics.baseFigures.averageVisitedPerPages}}
                                    <b><span>{{this.viewObj.form.data.0.analytics.baseFigures.averageVisitedPerPages}}</span></b>
                                    {{else}}
                                    <h3><b>-</b>
                                    {{/if}}
                                    <br />Genomsnittligt antal besökta sidor
                                </h3>
                            {{/if}}
                          </div>
                      {{/if}}
                    </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var spans = document.getElementById('stats').getElementsByTagName('span');
    for (var i = 0; i < spans.length; i += 1) {
      spans[i].textContent = Math.round(Number(spans[i].textContent) * 100) / 100;
    }
</script>
