<div class="card dashboard-content-place">
    <div class="report-settings">
        <h1 class="toTheLeft">{{this.customer}}</h1> <h1 class="toTheRight">{{this.month}} {{this.year}}</h1>
        <div id="adminText">
            {{#if this.user.admin}}
                <form method="post" action="/user/pdf">
                <div id="summary">
                    <h3>Sammanfattning:</h3>
                    <textarea id="summaryTextarea" name="summary" class="form-control"></textarea>
                </div>
                <div id="recommendation">
                    <h3>Rekommendation:</h3>
                    <textarea id="recommendationTextarea" name="recommendation" class="form-control"></textarea>
                </div>
                    <input type="hidden" name="month" value="{{this.month}}">
                    <input type="hidden" name="year" value="{{this.year}}">
                    <input id="createPdfButton" class="btn btn-default" type="submit" value="Spara och skapa PDF-fil">
                </form>
            {{/if}}
        </div>
        <br>
        <br>
        <div id="charts" class="toTheLeft">
            <div class="card">
                <div class="header">
                    <h4 class="title">Utveckling</h4>
                </div>
                <canvas id="canvasBarChart" width="400" height="400"></canvas>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Mest besök</h4>
                </div>
                <canvas id="canvasPieChart" width="400" height="400"></canvas>
            </div>

            <!-- Added in case of extra time.
            <div class="card">
                <div class="header">
                    <h4 class="title">Ingångskällor</h4>
                </div>
                <canvas id="canvasDoughnutChart" width="400" height="400"></canvas>
            </div>
            -->

            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
            <script src="/js/lib/charts/createChart.js"></script>
            <script src="/js/lib/charts/createData.js"></script>
            <script>

                var canvasBarChart = document.querySelector("#canvasBarChart");
                var canvasPieChart = document.querySelector("#canvasPieChart");

                /* Added in case of extra time.
                var canvasDoughnutChart = document.querySelector("#canvasDoughnutChart");
                */

                // Todo: Add two more months to bar chart:

                var months = ['{{this.month}}'];

                var visitorsInTotalPerMonth = [0];

                {{#if this.queries.youtube}}
                    visitorsInTotalPerMonth[0] += Number({{this.form.data.youtube.views.result}});
                {{/if}}

                {{#if this.queries.analytics}}
                    visitorsInTotalPerMonth[0] += Number({{this.form.data.analytics.analyticsViews.result}});
                {{/if}}


                var barData = createData(months, visitorsInTotalPerMonth);

                var medias = [];
                var percentages = [];

                {{#if this.queries.youtube}}
                    medias.push('Youtube');
                    percentages.push(Number({{this.form.data.youtube.views.result}}));
                {{/if}}
                {{#if this.queries.analytics}}
                    medias.push('Analytics');
                    percentages.push(Number({{this.form.data.analytics.analyticsViews.result}}));
                {{/if}}


                var pieData = createData(medias, percentages);

                var barChart = createChart('bar', canvasBarChart, barData);
                var pieChart = createChart('pie', canvasPieChart, pieData);

                /* Added in case of extra time.
                var doughnutChart = createChart('doughnut', canvasDoughnutChart, data);
                */

            </script>
        </div>
        <div id="stats" class="toTheRight">
            <div class="card">
                        <div class="header">
                            {{#if this.queries.youtube}}
                                <h3 class="title">Youtube</h3>
                                {{#if this.queries.youtubeViews}}
                                <h3>{{this.form.data.youtube.views.result}} visningar.</h3>
                                <br>
                                {{/if}}
                            {{/if}}
                            {{#if this.queries.analytics}}
                                <h3 class="title">Analytics</h3>
                                {{#if this.queries.analyticsViews}}
                                    <h3>{{this.form.data.analytics.analyticsViews.result}} visningar.</h3>
                                    <br>
                                {{/if}}
                                {{#if this.queries.analyticsUniqueViews}}
                                <h3>{{this.form.data.analytics.analyticsUniqueViews.result}} unika visningar.</h3>
                                <br>
                                {{/if}}
                                {{#if this.queries.analyticsAverageTime}}
                                    <h3>{{this.form.data.analytics.analyticsAverageTime.result}} genomsnittlig tid på sidan.</h3>
                                    <br>
                                {{/if}}
                                {{#if this.queries.analyticsAverageVisitedPerPages}}
                                    <h3>{{this.form.data.analytics.analyticsAverageVisitedPerPages.result}} genomsnittligt antal besökta sidor.</h3>
                                    <br>
                                {{/if}}
                            {{/if}}
                        </div>
            </div>
        </div>
    </div>
</div>
